{% extends "base.html" %}

{% block body %}
<h3>Create New Article</h3>
<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	{{form.as_p}}
	<button>Create Now</button>

</form>
{% endblock %}