{% extends "base.html" %}

{% block body %}


<table class="table table-bordered table-striped">

	<thead>
		<tr>
			<th>SN</th>
			<th>Title</th>
			<th>Date</th>
			<th>Author</th>
			<th>Image</th>
			<th>Content</th>
		</tr>
	</thead>
	<tbody>
		{% for article in allarticles %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td><a href="/article/{{article.id}}/detail/">{{article.title}}</a></td>
			<td>{{article.date}}</td>
			<th>{{article.author}}</th>
			<td><img src="{{article.image.url}}" width="100"></td>
			<td>{{article.contents|truncatewords:"10"}}</td>
		</tr>
		
		{% endfor %}
	</tbody>
</table>





{% endblock %}