{% extends "base.html" %}


{% block body %}

<h4>title:{{articleobject.title}}(viewed {{articleobject.view_count}} times) </h4>
{% if articleobject.image %}
<img src="{{articleobject.image.url}}" width="800">
{% endif %}
<p>contents:{{articleobject.contents}}</p>
<p>published date:{{articleobject.date}}</p>
<p>author:{{articleobject.author}}</p>
<!-- <div class="fb-share-button" data-href="{{request.build_absolute_uri}}" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
 -->
 <h4>comments on this Post</h4>
 {% for comnt in articleobject.comment_set.all|dictsortreversed:"id" %}
 <li>{{comnt.commentor}} says {{comnt.comment}} {{comnt.date|timesince}} ago </li>

 {% endfor %}

{% endblock %}
