<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<title></title>
</head>
<body>
	<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3"></script>

	<a href="/">Go to Home</a>
	<a href="/article/list/">Articles list</a>
	<a href="/article/create/">Create New Article</a>


	
{% if request.user.is_authenticated %}

Logged in as:<span style="color:blue">{{request.user}}</span>	
	<a href="/logout">Logout</a>
{% else %}
	<a href="/register">Registration</a>
	<a href="/login">Login</a>

{% endif %}

<form method="GET" action="{% url 'uasapp:search' %}">
	<input type="text" name="keyword" placeholder="search here.." value="{{request.GET.keyword}}">
	<button>Search</button>


</form>
<!-- Search Form -->





{% block body %}

{% endblock %}


</body>
</html>