{% extends "base.html" %}

{% block body %}
<h3>Login Form</h3>
<p>{{error}}</p>
<form method="POST">
	{% csrf_token %}
	{{form.as_p}}
	<button>Login</button>

</form>
If you don't have account yet, <a href="/register/">Register</a>
{% endblock %}