{% extends "base.html" %}



{% block body %}
<h3>Search Results for <span class="text-info">{{request.GET.keyword}}</span></h3>
{% for article in search_results %}

<li>{{article.title}}</li>
<img src="{{article.image.url}}" width="200">
<p><a href="/article/{{article.id}}/detail/">details</a></p>
{% empty %}
<p>No Results Found</p>

{% endfor %}


{% endblock %}
